$primary-color: #d377fc;
$secondary-color: #c57ae0;
$strong-purple: #e361f4;
$white: #ffffff;
$darkish-white: #fdfdfd17;
$dark-gray: #141313;
$black: #000000;

$bg-main: $black;
$bg-emphasized: $dark-gray;

$main-title-color: $primary-color;
$subtitle-color: $secondary-color;
$inner-title-color: $darkish-white;
$generic-text-color: $white;

$emphasis-color: $secondary-color;
$links-color: $strong-purple;
