@import "../_variables/colors.scss";
@import "../mixins.scss";

.main-menu-container {
  display: none;
  list-style-type: none;
  width: 30%;
  margin: 0 0 0 auto;

  li {
    width: 23%;
    display: inline-block;
    text-align: center;
  }
}

.navbar-button {
  padding: 0.5em 0.1em 0.5em 0.1em;
  color: $white;
  border-bottom: 3px solid $white;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

.navbar-button__selected {
  border-bottom: 3px solid $primary-color;
}

@include media-lg {
  .main-menu-container {
    display: inline-block;
    align-items: center;
  }
}
