@import "../../../_variables/fonts";
@import "../../../_variables/colors";
@import "../../../mixins.scss";

$card-width: (
  "sm": 220px,
  "md": 220px,
  "lg": 260px,
  "xl": 260px,
);
$card-height: (
  "sm": 366px,
  "md": 366px,
  "lg": 406px,
  "xl": 406px,
);
$card-spacing: (
  "sm": 26px,
  "md": 26px,
  "lg": 30px,
  "xl": 67px,
);
$button-size: 60px;

@function card-width($screen) {
  @return map-get($card-width, $screen);
}

@function card-height($screen) {
  @return map-get($card-height, $screen);
}

@function list-width($screen) {
  @return (map-get($card-width, $screen) + map-get($card-spacing, $screen)) * 6;
}

@function list-height($screen) {
  @return map-get($card-height, $screen);
}

@function window-width($screen) {
  @if $screen == "sm" {
    @return map-get($card-width, $screen) + map-get($card-spacing, $screen);
  } @else if $screen == "md" {
    @return map-get($card-width, $screen) + map-get($card-spacing, $screen);
  } @else if $screen == "lg" {
    @return (map-get($card-width, $screen) + map-get($card-spacing, $screen)) *
      3;
  } @else {
    @return (map-get($card-width, $screen) + map-get($card-spacing, $screen)) *
      3;
  }
}

.carousel__container,
.carousel__list-window {
  position: relative;
}

.carousel__container {
  width: window-width("sm");
  margin: 0 auto 90px auto;
  height: list-height("sm");
}

.carousel__list-container,
.carousel__button-container--left,
.carousel__button-container--right {
  position: absolute;
}

.carousel__list-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel__button-container--left,
.carousel__button-container--right {
  top: 100%;
}

.carousel__button-container--left {
  transform: translate(50%, 30%);
}

.carousel__button-container--right {
  right: 0;
  transform: translate(-50%, 30%);
}

/* 
the one for
getting the width
*/
.carousel__list-window {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: window-width("sm");
  height: list-height("sm");
  overflow: hidden;
}

/* 
this is the one 
to be moved
*/
.carousel__list {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  width: list-width("sm");
  height: list-height("sm");
  transition: left 500ms ease;
}

.blog-card {
  width: card-width("sm");
  height: card-height("sm");
  color: $white;
  padding: 1em 1.5ch;
  background-color: $bg-emphasized;
  overflow: hidden;
  border-radius: 36px;
  box-shadow: 4px -4px 2px $darkish-white inset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .blog-card__title {
    width: 100%;
    line-height: 1.2em;
  }

  .blog-card__description {
    height: 5.5em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.carousel__button {
  display: inline-flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: $button-size;
  height: $button-size;
  .carousel__button-svg {
    width: 100%;
    height: 100%;
    fill: $primary-color;
  }
  &:hover .carousel__button-svg {
    fill: $white;
  }
}

@include media-md {
  .carousel__container {
    width: window-width("md");
    height: list-height("md");
  }
  .carousel__list-window {
    width: window-width("md");
    height: list-height("md");
  }
  .blog-card {
    width: card-width("md");
    height: card-height("md");
  }
  .carousel__list {
    width: list-width("md");
    height: list-height("md");
  }
}

@include media-lg {
  .carousel__container {
    width: window-width("lg");
    height: list-height("lg");
    margin: 0 auto 90px auto;
  }
  .carousel__button-container--left,
  .carousel__button-container--right {
    top: 50%;
    transform: translate(0, -50%);
  }
  .carousel__button-container--left {
    left: -$button-size;
  }
  .carousel__button-container--right {
    right: -$button-size;
  }
  .carousel__list-window {
    width: window-width("lg");
    height: list-height("lg");
  }
  .blog-card {
    width: card-width("lg");
    height: card-height("lg");
  }
  .carousel__list {
    width: list-width("lg");
    height: list-height("lg");
  }
}

@include media-xl {
  .carousel__container {
    width: window-width("xl");
    height: list-height("xl");
  }
  .carousel__list-window {
    width: window-width("xl");
    height: list-height("xl");
  }
  .blog-card {
    width: card-width("xl");
    height: card-height("xl");
  }
  .carousel__list {
    width: list-width("xl");
    height: list-height("xl");
  }
}
