@import "../../../_variables/fonts";
@import "../../../_variables/colors";
@import "../../../mixins.scss";

#home-contact-view {
  box-sizing: border-box;
  padding: 0.5em;
  margin: 90px auto 50px auto;
}

.home-contact-title-container,
.home-contact-image-container {
  width: 100%;
  margin: 1.5em auto;
  text-align: center;
}

.home-contact-image-container {
  text-align: center;
}

.home-contact-title-container {
  margin-bottom: 4em;
  mark {
    color: $primary-color;
    text-decoration: none;
    background-color: transparent;
  }

  .home-contact-title__description {
    padding: 1em 0 1.5em 0;
  }
}

.home-contact-title__heading {
  margin: 0;
}

.home-contact-image__image {
  max-width: 800px;
}

@include media-md {
  #home-contact-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
  }
  .home-contact-title-container,
  .home-contact-image-container {
    margin: 0 1em;
  }

  .home-contact-title-container {
    width: 50%;
    text-align: left;
  }

  .home-contact-image-container {
    width: 50%;
  }
}

@include media-md {
  #home-contact-view {
    margin: 190px auto;
    margin-bottom: 100px;
  }
}

@include media-lg {
  #home-contact-view {
    margin: 30px auto;
  }
  .home-contact-title-container {
    width: 40%;
  }

  .home-contact-image-container {
    width: 70%;
  }
}
